* {
  font-size: 20px;
}
.App {
  text-align: center;
}
body {
  background-color: #e7ebf0;
}
h2 {
  font-size: 1.5em;
  color: #333;
}
h1 {
  font-size: 2em;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.users-list li{
  margin-bottom: 60px;;
}
header {
  border-bottom: 0.5px solid #dde4ed;
  display: flex;
  justify-content: center;
}
.card-form-comment {
  text-align: right;
}
.card-form-comment button {
  margin: 2px;
}
.vote {
  text-align: left;
}
.vote button {
  border: none;
  background: none;
  cursor: pointer;
}
.comment {
  margin-bottom: 60px;
}
.card-form-comment button{
  cursor: pointer;
}
