.App {
  text-align: center;
  font-family: ReithSerif,Helvetica,Arial,serif!important;
}

.article-card{
  background-color: #efefef;
  margin: 2%;
  padding: 1rem 2rem;
}

.article-card{
  width: 180px;

}


li{
  list-style: none;
}

a{
  
  text-decoration: none;
  margin:5px;
  font-size: small;
}

h3{
  color: #222;
}

h1{
  font-size: large;
}

h2{
  font-size: small;
}

p, span{
  color: #5a5a5a
}

span{
  margin: 10px;
  padding: 1%;
 
}
.author{
  text-align: left;
  margin-left: 15%;
  color: #3b3b3b;
}
.text-body{
  padding: 2% 5%;
  text-align: left;

}


@media (min-width: 760px) {
  ul li{
    display: inline-flex;
    flex-wrap: wrap;
  }
  .article-card{
    width: 20%;
    height: 290px;
  }
  header{
    text-align: left;
    margin-left: 55px;
     color: #bb0303;
  }
  .topics a{
    font-size: large;
  }
  main h2{
    font-size: medium;
   font-weight: 800;
    color: #5a5a5a;
  }
  .text-body{
    margin:20px auto;
    width: 70%;
    line-height: 1.25rem;
  }
 
  
}


